* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Prompt&display=swap');

h1 {
    font-family: 'Prompt', sans-serif;
    margin: 20px;
}

form {
    max-width: calc(100% - 20px);
    margin: 10px auto;
    display: flex;
    justify-content: center;
}

form input {
    padding: 15px;
}

.text {
    border-radius: 8px 0 0 8px;
    border-right-style: none;
    width: 100%;
    max-width: 500px;
}

.btn {
    border-radius: 0 8px 8px 0;
}

.list {
    margin: 15px auto;
    border: 1px solid rgba(0 0 0 / 1%);
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0 0 0 / 25%) inset;
    min-height: 30px;
    height: fit-content;
    max-width: 600px;
}

.list div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

button {
    width: 30px;
    height: 30px;
}

.item {
    background-color: snow;
    font-family: 'Oswald', sans-serif;
    width: 100%;
    margin: 15px 0;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0 0 0 / 25%);
    text-decoration: gray solid line-through 3px;
    color: #555;
}
.active {
    text-decoration: none;
    color: black;
}

.cheats {
    width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
