* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Prompt&display=swap');

body {
    background-color: rgb(189, 206, 190);
}

header {
    background-color: #cebdcd;
    padding: 25px 20px 0;
    /* border-bottom: 1px solid rgba(0 0 0 / 25%); */
}

h1 {
    font-family: 'Prompt', sans-serif;
    max-width: 500px;
    margin: 0 auto;
}

form {
    max-width: calc(100% - 20px);
    margin: 10px auto 15px;
    display: flex;
    justify-content: center;
}

form input {
    padding: 10px;
}

.text {
    border-radius: 8px 0 0 8px;
    font-size: 20px;
    border: none;
    width: 100%;
    max-width: 500px;
}

.btn {
    border-radius: 0 8px 8px 0;
    width: 50px;
    height: 50px;
}

button {
    width: 30px;
    height: 30px;
    cursor: pointer;
    border: hidden;
    background-color: palevioletred;
}

.item button {
    background-color: #b0c0b0;
}

.move {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.move button {
    width: fit-content;
    height: 25px;
}

.list {
    margin: 0 auto;
    padding: 15px 0;
    height: fit-content;
    max-width: 600px;
}

.item {
    display: flex;
    align-items: center;
    overflow-x: hidden;
    width: 100%;
}

.task {
    background-color: snow;
    font-family: 'Oswald', sans-serif;
    margin: 12px 0;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0 0 0 / 25%);
    text-decoration: gray solid line-through 2px;
    color: #555;
}

.active .task {
    text-decoration: none;
    color: black;
}

.tabs {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.tabs div {
    cursor: pointer;
    padding: 5px 10px;
    box-shadow: 3px 3px 0 rgba(0 0 0 / 25%);
    border-top: 1px solid rgba(0 0 0 / 25%);
    border-radius: 7px 7px 0 0;
    background-color: #bdcebe;
}

.tabs .activeTab {
    background-color: #85b885;
    font-weight: bold;
}