* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Prompt&display=swap');

body {
    background-color: #bdcebe;
}

/* form input */

header {
    background-color: #cebdcd;
    padding: 25px 20px 0;
}

h1 {
    font-family: 'Prompt', sans-serif;
    max-width: 500px;
    margin: 0 auto;
}

form {
    max-width: calc(100% - 20px);
    margin: 10px auto 15px;
    display: flex;
    justify-content: center;
}

form input {
    padding: 10px;
}

.input-text {
    border-radius: 8px 0 0 8px;
    font-size: 20px;
    border: none;
    width: 100%;
    max-width: 500px;
}

input[type=text]:focus {
    outline: none;
    border: 2px solid #d87093;
}

/* buttons */

.btn-input {
    border-radius: 0 8px 8px 0;
    width: 50px;
    height: 50px;
}

button {
    cursor: pointer;
    border: hidden;
    background-color: #d87093;
}

button:hover {
    box-shadow: 0 0 5px #000 inset;
}

.item button {
    background-color: #b0c0b0;
}

.move {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.move button {
    width: fit-content;
    height: 25px;
}

.btn-config {
    padding: 5px;
    border-radius: 5px;
}

.btn-addTab, .btn-delTab {
    padding: 3px;
    border-radius: 3px;
}

.btn-closeModal {
    padding: 15px;
    border-radius: 10px;
    width: max-content;
    position: absolute;
    bottom: 10px;
}

.btn-closeModal:hover {
    text-decoration: underline;
}

/* taks */

.list {
    margin: 0 auto;
    padding: 15px 0;
    height: fit-content;
    max-width: 600px;
}

.item {
    display: flex;
    align-items: center;
    overflow-x: hidden;
    width: 100%;
}

.task {
    background-color: #fafafa;
    font-family: 'Oswald', sans-serif;
    margin: 12px 0;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0 0 0 / 25%);
    text-decoration: #888 solid line-through 2px;
    color: #555;
}

/* tabs */

.active .task {
    text-decoration: none;
    color: #000;
}

.tabs {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.tabs div {
    cursor: pointer;
    padding: 5px 10px;
    box-shadow: 3px 3px 0 rgba(0 0 0 / 25%);
    border-top: 1px solid rgba(0 0 0 / 25%);
    border-radius: 7px 7px 0 0;
    background-color: #bdcebe;
}

.tabs div:hover {
    text-decoration: underline;
}

.tabs .active-tab {
    background-color: #85b885;
    font-weight: bold;
}

/* modal */

.modal {
    margin: 0 auto;
    margin-top: calc((100vh - 330px) / 2);
    border-radius: 5px;
    padding: 15px;
    min-height: 330px;
    min-width: 270px;
}

.modal::backdrop {
    backdrop-filter: blur(1px);
    background-color: rgba(0,0,0,50%);
}

.modal-tabs div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-tabs div input {
    padding: 10px;
    margin: 3px 3px 3px 0;
}

.hidden {
    display: none;
}